<!DOCTYPE html>
<html>
<head>
<style>          
.buttonb {width: 75px; height: 75px; background-color: blue}
.buttonw {width: 75px; height: 75px; background-color: white}
 

</style>
</head>

<body>
    <a>
        <button  class="buttonw">
        <img  src = '{{a8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{b8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{c8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{d8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{e8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{f8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{g8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{h8}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>

    <a>
        <button  class="buttonb">
        <img  src = '{{a7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{b7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{c7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{d7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{e7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{f7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{g7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{h7}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>
    
    <a>
        <button  class="buttonw">
        <img  src = '{{a6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{b6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{c6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{d6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{e6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{f6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{g6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{h6}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>
    
    <a>
        <button  class="buttonb">
        <img  src = '{{a5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{b5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{c5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{d5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{e5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{f5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{g5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{h5}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>
        
    <a>
        <button  class="buttonw">
        <img  src = '{{a4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{b4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{c4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{d4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{e4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{f4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{g4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{h4}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>
        
    <a>
        <button  class="buttonb">
        <img  src = '{{a3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{b3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{c3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{d3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{e3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{f3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{g3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{h3}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>
            
    <a>
        <button  class="buttonw">
        <img  src = '{{a2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{b2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{c2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{d2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{e2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{f2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{g2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{h2}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>
            
    <a>
        <button  class="buttonb">
        <img  src = '{{a1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{b1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{c1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{d1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{e1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{f1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonb">
        <img  src = '{{g1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a>
        <button  class="buttonw">
        <img  src = '{{h1}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>
    {{color}} Lost!
</body>
</html>
