<!DOCTYPE html>
<html>
<head>
<style>          
.buttonb {width: 75px; height: 75px; background-color: blue}
.buttonw {width: 75px; height: 75px; background-color: white}
 

</style>
</head>

<body>
    <a href = {{link + "/a8"}}>
        <button  class="buttonw">
        <img  src = '{{a8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/b8"}}>
        <button  class="buttonb">
        <img  src = '{{b8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/c8"}}>
        <button  class="buttonw">
        <img  src = '{{c8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/d8"}}>
        <button  class="buttonb">
        <img  src = '{{d8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/e8"}}>
        <button  class="buttonw">
        <img  src = '{{e8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/f8"}}>
        <button  class="buttonb">
        <img  src = '{{f8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/g8"}}>
        <button  class="buttonw">
        <img  src = '{{g8}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/h8"}}>
        <button  class="buttonb">
        <img  src = '{{h8}}' width = "50" height = "50"/>
        </button>
    </a>
    {{text1}}
    <p></p>

    <a href = {{link + "/a7"}}>
        <button  class="buttonb">
        <img  src = '{{a7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/b7"}}>
        <button  class="buttonw">
        <img  src = '{{b7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/c7"}}>
        <button  class="buttonb">
        <img  src = '{{c7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/d7"}}>
        <button  class="buttonw">
        <img  src = '{{d7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/e7"}}>
        <button  class="buttonb">
        <img  src = '{{e7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/f7"}}>
        <button  class="buttonw">
        <img  src = '{{f7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/g7"}}>
        <button  class="buttonb">
        <img  src = '{{g7}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/h7"}}>
        <button  class="buttonw">
        <img  src = '{{h7}}' width = "50" height = "50"/>
        </button>
    </a>

    <p></p>

    <a href = {{link + "/a6"}}>
        <button  class="buttonw">
        <img  src = '{{a6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/b6"}}>
        <button  class="buttonb">
        <img  src = '{{b6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/c6"}}>
        <button  class="buttonw">
        <img  src = '{{c6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/d6"}}>
        <button  class="buttonb">
        <img  src = '{{d6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/e6"}}>
        <button  class="buttonw">
        <img  src = '{{e6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/f6"}}>
        <button  class="buttonb">
        <img  src = '{{f6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/g6"}}>
        <button  class="buttonw">
        <img  src = '{{g6}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/h6"}}>
        <button  class="buttonb">
        <img  src = '{{h6}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>

    <a href = {{link + "/a5"}}>
        <button  class="buttonb">
        <img  src = '{{a5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/b5"}}>
        <button  class="buttonw">
        <img  src = '{{b5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/c5"}}>
        <button  class="buttonb">
        <img  src = '{{c5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/d5"}}>
        <button  class="buttonw">
        <img  src = '{{d5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/e5"}}>
        <button  class="buttonb">
        <img  src = '{{e5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/f5"}}>
        <button  class="buttonw">
        <img  src = '{{f5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/g5"}}>
        <button  class="buttonb">
        <img  src = '{{g5}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/h5"}}>
        <button  class="buttonw">
        <img  src = '{{h5}}' width = "50" height = "50"/>
        </button>
    </a>

    <p></p>

    <a href = {{link + "/a4"}}>
        <button  class="buttonw">
        <img  src = '{{a4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/b4"}}>
        <button  class="buttonb">
        <img  src = '{{b4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/c4"}}>
        <button  class="buttonw">
        <img  src = '{{c4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/d4"}}>
        <button  class="buttonb">
        <img  src = '{{d4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/e4"}}>
        <button  class="buttonw">
        <img  src = '{{e4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/f4"}}>
        <button  class="buttonb">
        <img  src = '{{f4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/g4"}}>
        <button  class="buttonw">
        <img  src = '{{g4}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/h4"}}>
        <button  class="buttonb">
        <img  src = '{{h4}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>

    <a href = {{link + "/a3"}}>
        <button  class="buttonb">
        <img  src = '{{a3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/b3"}}>
        <button  class="buttonw">
        <img  src = '{{b3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/c3"}}>
        <button  class="buttonb">
        <img  src = '{{c3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/d3"}}>
        <button  class="buttonw">
        <img  src = '{{d3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/e3"}}>
        <button  class="buttonb">
        <img  src = '{{e3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/f3"}}>
        <button  class="buttonw">
        <img  src = '{{f3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/g3"}}>
        <button  class="buttonb">
        <img  src = '{{g3}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/h3"}}>
        <button  class="buttonw">
        <img  src = '{{h3}}' width = "50" height = "50"/>
        </button>
    </a>

    <p></p>

    <a href = {{link + "/a2"}}>
        <button  class="buttonw">
        <img  src = '{{a2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/b2"}}>
        <button  class="buttonb">
        <img  src = '{{b2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/c2"}}>
        <button  class="buttonw">
        <img  src = '{{c2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/d2"}}>
        <button  class="buttonb">
        <img  src = '{{d2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/e2"}}>
        <button  class="buttonw">
        <img  src = '{{e2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/f2"}}>
        <button  class="buttonb">
        <img  src = '{{f2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/g2"}}>
        <button  class="buttonw">
        <img  src = '{{g2}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/h2"}}>
        <button  class="buttonb">
        <img  src = '{{h2}}' width = "50" height = "50"/>
        </button>
    </a>
    
    <p></p>
    
    <a href = {{link + "/a1"}}>
        <button  class="buttonb">
        <img  src = '{{a1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/b1"}}>
        <button  class="buttonw">
        <img  src = '{{b1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/c1"}}>
        <button  class="buttonb">
        <img  src = '{{c1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/d1"}}>
        <button  class="buttonw">
        <img  src = '{{d1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/e1"}}>
        <button  class="buttonb">
        <img  src = '{{e1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/f1"}}>
        <button  class="buttonw">
        <img  src = '{{f1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/g1"}}>
        <button  class="buttonb">
        <img  src = '{{g1}}' width = "50" height = "50"/>
        </button>
    </a>
    <a href = {{link + "/h1"}}>
        <button  class="buttonw">
        <img  src = '{{h1}}' width = "50" height = "50"/>
        </button>
    </a>
</body>
</html>