<!DOCTYPE html>
<html>
<head>
<style>          
.buttongame {width: 75px; height: 75px; background-color: white}
.buttoninstructions {width: 75px; height: 75px; background-color: white}
 

</style>
</head>

<body>
    <a href = "/setup/super">
        <button  class="buttongame">
        Super King
        </button>
    </a>
    <a href = "/setup/forward">
        <button  class="buttongame">
        Dead Ahead
        </button>
    </a>
    
    <p></p>

    <a href = "https://en.wikipedia.org/wiki/Monster_chess#:~:text=Monster%20chess%E2%80%94or%20Super%20King,two%20successive%20moves%20per%20turn.">
        <button  class="buttoninstruction">
        Instruction
        </button>
    </a>
    <a> 
        <button  class="buttoninstruction">
        Instruction
        </button>
    </a>

</body>
</html>
